sshd_port: 22
sshd_permit_root_login: "no"
sshd_password_authentication: "no"
sshd_pubkey_authentication: "yes"
sshd_x11_forwarding: "no"
sshd_max_auth_tries: 3
sshd_client_alive_interval: 300
sshd_client_alive_count_max: 2
